{% extends "layout.html" %}
{% block body %}

<html>
<head>
	<title>Drone Headtrackr!</title>
	<script src="js/headtrackr.js"></script>
</head>
<body>

<canvas id="inputCanvas" width="320" height="240" style="display:none"></canvas>
<video id="inputVideo" autoplay loop></video>
<script src="js/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
  var videoInput = document.getElementById('inputVideo');
  var canvasInput = document.getElementById('inputCanvas');

  var htracker = new headtrackr.Tracker({'calcAngles': true});
  htracker.init(videoInput, canvasInput);
  htracker.start();

	function sleep(milliseconds) {
	  var start = new Date().getTime();
	  for (var i = 0; i < 1e7; i++) {
	    if ((new Date().getTime() - start) > milliseconds){
	      break;
	    }
	  }
	}

$(document).ready(function() {
	$.ajax({
	  type: "GET",
	  url: "/takeoff",
	  dataType: "script"
	});
});

document.addEventListener("facetrackingEvent", function(event) {
	if (event.angle <= 1.35) {
	 	console.log('move left');
		$.ajax({
		  type: "GET",
		  url: "/turnleft",
		  dataType: "script"
		});
	} else if (event.angle >= 1.85) {
	 console.log('move right');
		$.ajax({
		  type: "GET",
		  url: "/turnright",
		  dataType: "script"
		});
	} else {
		$.ajax({
		  type: "GET",
		  url: "/hover",
		  dataType: "script"
		});
	}
	sleep(800);
});
</script>
</body>
</html>

{% endblock %}